 <%= provide :title, t(".title", name: resource.name) %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-offset-4">
      <div class="profile">
        <%= image_tag resource.picture.url.to_s,
        class: "profile_user" %>
      </div>
      <div class="profile">
        <ul class="list_info">
          <li>
            <i class="fa fa-user-o">
              <b><%= resource.name %></b>
            </i>
          </li>
          <li>
            <i class="fa fa-phone-square" >
              <b><%= resource.phone %> </b>
            </i>
          </li>
          <li>
            <i class="fa fa-map-marker" aria-hidden="true">
            <b><%= resource.address %></b>
            </i>
          </li>
          <li>
            <%= link_to t("label.setting"), edit_user_registration_path(current_user),
              class: "btn btn-primary" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
